.jumbotron {
  background-color: rgb(68, 6, 107);
  color: white;
}

.output {
  color: rgb(68, 6, 107);
  display: none;
}
.outputTwo {
  color: rgb(68, 6, 107);
  display: none;
}

#countDown {
  color: rgb(68, 6, 107);
  display: none;
}

#number {
  color: black;
}

#beep {
  display: none;
  float: right;
}

span {
  color: rgb(68, 6, 107);;
}

#name {
  color: black;
}

.btn-md {
  color: black;
}