.jumbotron {
  background-color: rgb(68, 6, 107);
  color: white;
}

.output {
  /* background-color: rgb(68, 6, 107); */
  color: rgb(68, 6, 107);
  display: none;
}
.outputTwo {
  /* background-color: rgb(68, 6, 107); */
  color: rgb(68, 6, 107);
  display: none;
}

#countDown {
  /* background-color: rgb(68, 6, 107); */
  color: rgb(68, 6, 107);
  display: none;
}

#number {
  color: black;
}

#beep {
  display: none;
  float: right;
}

span {
  color: rgb(68, 6, 107);;
}