.jumbotron {
  background-color: rgb(68, 6, 107);
  color: white;
}

#output {
  /* background-color: rgb(68, 6, 107); */
  color: rgb(68, 6, 107);
  display: none;
}

#number {
  color: black;
}

#beep {
  display: none;
  float: right;
}